#barra-azul {
	top: 0;
	left: 0;
	position: absolute;
	height: 50px;
	width: 100%;
	background: #004b82 url(../../assets/bg-header-mec-linha.png) repeat-x 0 bottom;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
}

#barra-azul nav a {
	color: white;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	padding: 10px;
}

#barra-azul nav a:last-child {
	padding-right: 0;
}

#barra-azul nav a:hover {
	text-shadow: 0 0 10px #0095ff;
}